In [ ]:
import pandas as pd

In [ ]:
somalia = pd.read_excel("/content/drive/MyDrive/Upwork/Somalia Survey Location and Sector Data.xlsx", skiprows=1)

In [ ]:
somalia.head()

In [ ]:
somalia1 = somalia.iloc[:, :25]

In [ ]:
somalia1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 25 columns):
 #   Column                                                                                                         Non-Null Count  Dtype
---  ------                                                                                                         --------------  -----
 0   Unnamed: 0                                                                                                     30 non-null     object
 1   Galmudug - Maintain a physical office with at least one staff (full or part time)                              10 non-null     object
 2   Galmudug - Actively work in (in the last 12 months), but do not maintain office /staff full or part time       3 non-null      object
 3   Galmudug - Do not actively work                                                                                4 non-null      object
 4   Hirshabelle - Maintain a physical office with at least one staff (full or part time)                           8 non-null      object
 5   Hirshabelle - Actively work in (in the last 12 months), but do not maintain office /staff full or part time    3 non-null      object
 6   Hirshabelle - Do not actively work                                                                             4 non-null      object
 7   Jubaland - Maintain a physical office with at least one staff (full or part time)                              9 non-null      object
 8   Jubaland - Actively work in (in the last 12 months), but do not maintain office /staff full or part time       4 non-null      object
 9   Jubaland - Do not actively work                                                                                3 non-null      object
 10  Puntland - Maintain a physical office with at least one staff (full or part time)                              9 non-null      object
 11  Puntland - Actively work in (in the last 12 months), but do not maintain office /staff full or part time       2 non-null      object
 12  Puntland - Do not actively work                                                                                5 non-null      object
 13  South West - Maintain a physical office with at least one staff (full or part time)                            13 non-null     object
 14  South West - Actively work in (in the last 12 months), but do not maintain office /staff full or part time     6 non-null      object
 15  South West - Do not actively work                                                                              3 non-null      object
 16  Somaliland - Maintain a physical office with at least one staff (full or part time)                            8 non-null      object
 17  Somaliland - Actively work in (in the last 12 months), but do not maintain office /staff full or part time     0 non-null      float64
 18  Somaliland - Do not actively work                                                                              3 non-null      object
 19  Mogadishu/BRA - Maintain a physical office with at least one staff (full or part time)                         13 non-null     object
 20  Mogadishu/BRA - Actively work in (in the last 12 months), but do not maintain office /staff full or part time  6 non-null      object
 21  Mogadishu/BRA - Do not actively work                                                                           2 non-null      object
 22  FGS - Maintain a physical office with at least one staff (full or part time)                                   9 non-null      object
 23  FGS - Actively work in (in the last 12 months), but do not maintain office /staff full or part time            2 non-null      object
 24  FGS - Do not actively work                                                                                     2 non-null      object
dtypes: float64(1), object(24)
memory usage: 6.0+ KB

In [ ]:
somalia_melt1 = pd.melt(somalia1, id_vars=['Unnamed: 0']).dropna(subset="value")

In [ ]:
somalia_melt1['variable'] = somalia_melt1['variable'].str.split("-").str[0].str.strip()

In [ ]:
somalia_melt1.columns = ['Respondent', 'State', 'Activity']

In [ ]:
somalia2 = pd.concat([somalia.iloc[:, 0], somalia.iloc[:, 25:]], axis = 1)
somalia2 =  pd.melt(somalia2, id_vars=['Unnamed: 0']).dropna(subset="value")

In [ ]:
somalia2.drop('variable', axis=1, inplace=True)

In [ ]:
somalia2.columns = ['Respondent', 'area of work']

In [ ]:
final_dataset = pd.merge(somalia_melt1, somalia2)

In [ ]:
final_dataset.apply(lambda x: x.astype(str).str.upper())

,Respondent,State,Activity,area of work
0,NGO 1,GALMUDUG,MAINTAIN A PHYSICAL OFFICE WITH AT LEAST ONE S...,DISPLACEMENT AFFECTED POPULATIONS
1,NGO 1,GALMUDUG,MAINTAIN A PHYSICAL OFFICE WITH AT LEAST ONE S...,FOOD SECURITY & NUTRITION
2,NGO 1,PUNTLAND,"ACTIVELY WORK IN (IN THE LAST 12 MONTHS), BUT ...",DISPLACEMENT AFFECTED POPULATIONS
3,NGO 1,PUNTLAND,"ACTIVELY WORK IN (IN THE LAST 12 MONTHS), BUT ...",FOOD SECURITY & NUTRITION
4,NGO 5,GALMUDUG,MAINTAIN A PHYSICAL OFFICE WITH AT LEAST ONE S...,CASH TRANSFERS
...,...,...,...,...
1048,NGO 23,MOGADISHU/BRA,MAINTAIN A PHYSICAL OFFICE WITH AT LEAST ONE S...,DISPLACEMENT AFFECTED POPULATIONS
1049,NGO 23,MOGADISHU/BRA,MAINTAIN A PHYSICAL OFFICE WITH AT LEAST ONE S...,FOOD SECURITY & NUTRITION
1050,NGO 23,MOGADISHU/BRA,MAINTAIN A PHYSICAL OFFICE WITH AT LEAST ONE S...,LIVELIHOODS
1051,NGO 23,MOGADISHU/BRA,MAINTAIN A PHYSICAL OFFICE WITH AT LEAST ONE S...,WASH
1052,NGO 23,MOGADISHU/BRA,MAINTAIN A PHYSICAL OFFICE WITH AT LEAST ONE S...,HOUSING LAND AND PROPERTIES RIGHTS

In [ ]:
final_dataset.to_excel("/content/drive/MyDrive/Upwork/Somalia survey.xlsx")